*{
    margin: 0px;
    padding: 0px;
}

body{
	background: url(../img/mardeestrellas.gif);
}

.header{
	background-color: rgba(110, 97, 119, 0.568);
	margin: 0px 252px;
	padding: 1px 60px;
	overflow: hidden;
	border-radius: 15px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: Georgia;
	font-weight: bold;
}
footer{
	background-color: rgba(110, 97, 119, 0.568);
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 40px;
	border-radius: 15px;
	text-align: center;
  }
footer a{
	color: white;
	font-size: 25px;
	margin: 15px 50px;
	font-family: 'Gill Sans';
	font-weight: bold;
  }

section{
	background-color: rgba(110, 97, 119, 0.568);
	width: 67%;
	margin-top: 10px;
	margin-left: 250px;
	font-size: 30px;
	color: white;
	text-align: center;  
	border-radius: 15px;
	float: left;
}
article{
    background-color: rgba(110, 97, 119, 0.568);
    margin: 19px 50px;
    font-size: 15px;
    color: white;
    text-align: center;  
    border-radius: 15px;
}